<div>
<form >
        <label for="userName" >UserName:</label><br>
        <input type="text" id="userName" name="userName" ><br>

        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password" ><br><br>


        <input type="submit" id="submitLoginForm" value="Submit">
    </form>
    <button id="register"><a href="/register"> Register a new User </a></button>
    </div>
    <script src="/js/login.js"></script>