<div>
<form >
        <label for="username" >UserName:</label><br>
        <input type="text" id="username-login" name="username" ><br>

        <label for="password">Password:</label><br>
        <input type="text" id="password-login" name="password" ><br><br>


        <input type="submit" id="submitLoginForm" value="Submit" >
    </form>
    <button id="register"><a href="/register"  > Register a new User </a></button>
    </div>
    <script src="/js/login.js"></script>