/* main {
    background-color: aqua;
    color: red;
} */

.dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    /* background-color: antiquewhite; */
    position: absolute;
    right: 100%;
    top: 0px;
    list-style: none;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }

   
    .dropdown-menu-right {margin-left: 9.5em;}

    .dropdown-menu-right {
        right: inherit !important;
        left: auto;
    }
.dropdown-item {
    background-color: rgb(214, 250, 250);
}

.dropdown-item:hover {
    background-color: rgb(162, 252, 252);
}